
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made to Keep account of yourself</p>
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
