<%- include("partials/header") %>
    <h1>Contact</h1>
    <div class="contact-info">
        
        <p><strong>Email:</strong> <a href="mailto:keshav.sai0311@gmail.com">keshav.sai0311@gmail.com</a></p>
        <p><strong>Github:</strong> <a href="https://github.com/keshavsaini0311">https://github.com/keshavsaini0311</a></p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/keshav-saini-190a53256/">https://www.linkedin.com/in/keshav-saini-190a53256/</a></p>
    </div>

<%- include("partials/footer") %>